#page-title{
    font-size: 25px;
    border: none;
    font-weight: 600;
    font-family: Outfit, sans-serif;
}

#page-path{
    font-size: 15px;
    font-family: "Abel", sans-serif;
}

#page-content p{
    font-size: 15px;
}